---
---

/* Global */

.content {
  background-color: #f1f1f1;
}

.inner-content {
  max-width: 1440px;
  margin: auto;
  background-color: #fff;
}

.paddingtop {
  padding-top: 56px;
}

/* Navbar */
.navbar {
  /* height: 60px; */
  .container {
    margin: 0;
  }

}

#navbar {
  padding-left: 4px;
}

@media (min-width: 576px) {
  #navbar {
    padding-left: 20px;
  }
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  color: #3d3c3a !important;
}

.nav-link:hover {
  color: #67989b !important;
}
.navbar-container {
  height: 100%;
}
.navbar-header {
  height: 100%;
  img {
    height: 25px;
  }
}
.navbar-brand {
  height: 100%;
}

.navbar-collapse {
   background: white;
}
@media (max-width: 575.98px) {
  .navbar-nav {
    padding-top: 8px;
  }
}

.navbar-toggler {
  border: none !important;
}

/* Content */
.content {
  padding-top: 56px;
}

/* Hero section */
#hero {
  height: 600px;
  max-width: 100%;
  position: relative;
  background-image: linear-gradient(to right, rgba(61,60,58,0),rgba(61,60,58,0)),url(../img/hero_justin_lightened.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767.98px) {
  #hero {
    background-size: 950px;
    background-position: 45% 35%;
  }
}

@media (min-width: 768px) {
  #hero {
    .email {
      width: 64%;
    }
  }
}


@media (min-width: 1200px) {
  #hero {
    height: 630px;
    background-position: center 55%;
  }
}


.hero-text {
  padding-top: 120px;
  width: 40%;

  h1 {
    font-size: 3rem;
  }

  .subheader {
    font-size: 1.4rem;
  }
}

@media (max-width: 767.98px) {
  .hero-text {
    padding-top: 110px;
    width: 65%;

    h1 {
      font-size: 2.6rem;
    }

    .subheader {
      font-size: 1.2rem;
    }

    .btn {
      margin-top: 6px;
    }
  }
}

@media (max-width: 991.98px) {
  .hero-text {
    width: 60%;

    h1 {

    }

    .subheader {

    }
  }
}

/* Validation section */

#validation {
  height: 110px;
  margin: 15px 0px;
  background-color: white;
  text-align: center;
  color: #817e79;

  .validation_intro {
    height: 24px;
    align-items: center;
  }

  .validation_items {
    height: 86px;
    padding: 0px 8%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* Overview section */

#overview {
  padding-bottom: 40px;
  text-align: center;

  .container {
    height: 100%;
  }

  .overview_items {
    height: 100%;
    padding: 20px 0px;
    align-items: center;

    img {
      max-width: 70%;
      padding-bottom: 10px;
    }

    h3 {
      padding-bottom: 10px;
    }

    p {
      width: 80%;
      margin: auto;
    }

  }
}

@media (max-width: 767.98px) {
  .overview_items {
    img {
      width: 50%;
    }
  }
}


/* Info section */

.info-left {

}

.info img {
  max-width: 90%;
  max-height: 90%;
}

@media (max-width: 767.98px) {
  .info {
    text-align: center;
  }

  .mainimg {
    padding-top: 30px;
  }

}
/*
@media (min-width: 768px) {
  .info img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
*/
@media (min-width: 768px) {
  .mainimg {
    /* max-height: 75%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.info-text {
  padding: 175px 0px;
  margin-left: 40px;
  width: 70%;

  h1 {
    padding-bottom: 10px;
  }
}

@media (max-width: 991.98px) {
  .info-text {
    width: 79%;
  }
}

@media (max-width: 767.98px) {
  .info-text {
    /* margin-left: 38%; */
    margin: auto;
    width: 62%;
  }
}

.info-text-left {
  margin: auto;
  width: 70%;
  padding: 165px 0px;

  h1 {
    padding-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .info-text-left {
    padding: 0px 0px 40px 0px;
  }
}

#pulse-info {
  background: linear-gradient(to right, rgba(61,60,58,0.2),rgba(61,60,58,0.2)),url(../img/AustinBed_noswoosh.jpg);
  background-position: 100% 83%;
  background-size: 110%;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  #pulse-info {
    background-position: 62% 83%;
    background-size: cover;
  }
}

#meditations-info {
  background: linear-gradient(to right, rgba(61,60,58,0.0),rgba(61,60,58,0.3)),url(../img/CoreBed.jpg);
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;

  .info-text {
    padding: 150px 0px;
  }
}

@media (max-width: 767.98px) {
  #meditations-info {
    background-position: 34% 70%;
  }
}

/* One Percent */

#onepercent {
  margin-top: 30px;
  margin-bottom: 30px;

  .info-text-left {
    padding: 140px 0px;
  }

  h1 {
    color: #67989b;
  }
}

@media (max-width: 767.98px) {
  #onepercent {
    padding: 0px;

    .info-text-left {
        padding: 0px 0px 40px 0px;
    }
  }
}

/* Testimonials */

#testimonials {

  .testimonial-header {
    padding-top: 40px;
    font-size: 1.25rem;
  }

  .carousel {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .carousel-inner {
    width: 60%;
    margin: auto;
  }

  .carousel-item {
    height: 180px;
  }

  .carousel-text {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

}

@media (max-width: 767.98px) {
  #testimonials {
    .carousel-inner {
        width: 65%;
    }
  }
}

@media (max-width: 991.98px) {
  #testimonials {
    .carousel-item {
        height: 200px;
    }
  }
}

/* Guarantees */

#guarantees {
  padding: 40px 0px 30px;
  text-align: center;

  .container {
    height: 100%;
  }

  h1 {
    color: #67989b;
    padding-bottom: 40px;
  }

  .guarantee_items {
    height: 100%;

    align-items: center;

    img {
      max-width: 28%;
      padding-bottom: 30px;
    }

    h4 {
      color: #3d3c3a;
      padding-bottom: 10px;
    }

    p {
      width: 80%;
      margin: auto;
    }

  }
}


/* Footer */

#footer {

  background: #67989b;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: #C5DFE1;
  }

  .container {
    padding-top: 70px;
  }

  .email {
    width: 60%;
  }

  #social {
    padding-top: 20px;
  }

  #credits {
    padding-top: 90px;
    padding-bottom: 30px;
  }

}

/* How it works */

.tealheader {
  h1 {
    color: #67989b;
  }
}

#meetcore {
  img {
    max-width: 440px;
    padding-top: 30px;
  }

  text-align: center;

  h1 {
    font-size: 3rem;
  }
}

#meetcore_text {
  width: 59%;
  margin: auto;
}

@media (max-width: 767.98px) {
  #meetcore {

    img {
      max-width: 340px;
    }

    h1 {
      font-size: 2.6rem;
    }

    h4 {
      font-size: 1.3rem;
    }
  }
}

#hiw_waitlist {
  padding: 40px 0;
  text-align: center;

  img {
    max-width: 350px;
    padding: 30px 0;
  }
}

@media (max-width: 767.98px) {

  #hiw_waitlist img {
      max-width: 90%;
  }

  #hiw_waitlist_text {
    width: 69% !important;
  }

}

#hiw_waitlist_text {
  width: 59%;
  margin: auto;
}

/* Team page */

#story {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  #story_text {
    padding-top: 30px;
  }
}

#signature {
  width: 180px;
}

#teampic img {
  width: 100%;
}

#team {
  padding-top: 40px;

  img {
    width: 100%;
    padding-bottom: 10px;
  }

  .team-info {
    padding-bottom: 20px;

    h6 {
      margin: 0;
    }
  }
}

@media (max-width: 767.98px) {
  #team img {
    width: 50%;
  }
}


@media (max-width: 575.98px) {
  #team img {
    width: 70%;
  }
}


#investors {
  padding-top: 40px;

  img {
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  #investors img {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  #investors img {
    width: 65%;
  }
}

#careers {
  padding: 40px 0px;;
}

/* Terms of Service, Privacy */

.legal {
  padding: 40px 0px;
}

@import 'bootstrap/bootstrap';
