$primary: #67989b; // Core teal
$secondary: #e3805f; // Core orange
$dark: #3d3c3a; // Core Onyx
$light: #f1f1f1;


@font-face {
  font-family: 'Calibre';
  src: url('../fonts/CalibreWeb-Regular.eot');
  src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CalibreWeb-Regular.woff2') format('woff2'),
       url('../fonts/CalibreWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/CalibreWeb-Semibold.eot');
  src: url('../fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CalibreWeb-Semibold.woff2') format('woff2'),
       url('../fonts/CalibreWeb-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: semibold;
}

$font-family-sans-serif:      Calibre !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;


h2, h3 {
  color: #67989b !important;
}
