<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<section id="footer">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="{{ "/about.html" | prepend: site.baseurl }}">About Us</a><br />
      <a href="https://corewellness.zendesk.com/hc/en-us/categories/360000289611-Support" target="_blank">FAQ</a><br />
      <a href="https://corewellness.zendesk.com/hc/en-us/requests/new" target="_blank">Support</a>
    </div>
    <div class="col-md-3 mb-4">
      <a href="{{ "/howitworks.html" | prepend: site.baseurl }}">How it Works</a><br />
      <a href="#">Join Waitlist</a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h4>Connect with us</h4>

      <div id="mc_embed_signup">
        <form action="https://corewellness.us11.list-manage.com/subscribe/post?u=656d9dfc58106297fe2f10a37&amp;id=4c73e6b015" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate="novalidate" style="padding: 10px 0 10px 0;">
          	<input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email form-control mr-1" id="mce-EMAIL" aria-required="true">
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_656d9dfc58106297fe2f10a37_4c73e6b015" tabindex="-1" value="">
            </div>
            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="action_button btn btn-secondary text-white">
        </form>
      </div>

      <div id="social">
        <a href="https://www.facebook.com/CoreWellnessInc"><i class="fab fa-facebook-f mr-2"></i></a>
        <a href="https://www.instagram.com/core_wellness"><i class="fab fa-instagram mr-2"></i><a/>
        <a href="https://twitter.com/Hey_Core"><i class="fab fa-twitter"></i></a>
      </div>

    </div>
  </div>
  <div id="credits" class="row">
    <div class="col">
      © 2018 Core Wellness /  &nbsp; <a href="{{ "/terms.html" | prepend: site.baseurl }}">Terms of Service</a> &nbsp; / &nbsp; <a href="{{ "/privacy.html" | prepend: site.baseurl }}">Privacy Policy</a>
    </div>
  </div>
</div>

</section>
