<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="/img/LOGO_Teal.png" height="80%">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ "/howitworks.html" | prepend: site.baseurl }}">How it Works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ "/about.html" | prepend: site.baseurl }}">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
