<p>
Almost five years ago, I left my job at Microsoft and started my journey to what would become Core. I’ve always loved helping people work through challenges so that they can feel their best. Starting in high school and throughout my time at Microsoft, I tutored high school students. Again and again, I saw that many students were struggling not because they couldn’t handle the course work, but because stress, trauma and anxiety were holding them back.
</p>
<p>
In 2014, I decided it was time to tackle this problem and I enrolled in Stanford’s Learning, Design & Technology program. All the change that came with that decision left me feeling pretty anxious myself. A friend introduced me to meditation to help cope and I really began to feel the impact. After researching the science behind it, I realized that meditation was what I’d been looking for to help people. While at Stanford, I met my co-founder, Brian, and we started working on a way to make meditation easier: Core.
</p>
<p>
Core has grown a lot since those early days, but the goal has always been the same: to help people manage stress, build resilience, and ultimately live happier and healthier lives. I know that with a little help, we can all be our best selves, and the world will be better for it.
</p>
<p>
Sarah McDevitt, Founder<br/>
<img src="img/sarah_signature.png" id="signature">
</p>
